/** Color palette
    Based on : https://coolors.co/00171f-4c4c47-003459-4d7ea8-f9dc5c
**/
.root {
    bg1: #00171f;
    bg1-lighter: #172c33;
    bg1-darker: #00131a;
    /*
    bg2: #32021f;
    bg2-lighter: #441933;
    bg2-darker: #29021a;
    */
    bg2: #4c4c47;
    bg2-lighter: #5c5c57;
    bg2-darker: #3f3f3b;
    midtone: #003459;
    midtone-lighter: #174668;
    midtone-darker: #002b49;
    bright: #4d7ea8;
    bright-lighter: #6d95b7;
    bright-darker: #40688a0a0a0;
    highlight: #f9dc5c;
    highlight-lighter: #fae279;
    highlight-darker: #e3c854;
    text-darker:#a0a0a0;
    text: white;
}

* {
    -fx-focus-traversable: false;
}

.window {
    -fx-background-color : bg1
}

.contentArea {
    -fx-background-color : bg1-darker
}

.label {
    -fx-text-fill: text;
}

.titled-pane  {
    -fx-text-fill: highlight;
    -fx-box-border: bg2;
}

.titled-pane:focused  {
    -fx-text-fill: text;
}

.titled-pane > .title {
    -fx-background-color: bg2
}

.titled-pane:focused > .title  {
    -fx-color: highlight-lighter;
}

.titled-pane > *.content  {
    -fx-box-border:bg1-lighter;
    -fx-background-color:bg2-darker;
    -fx-text-fill:text;
 }

#TemperatureHistogram .chart-plot-background {
    -fx-background-color: midtone;
}

#TemperatureHistogram .chart-vertical-grid-lines,
 #TemperatureHistogram .chart-horizontal-grid-lines {
    -fx-stroke: midtone-lighter;
}

#TemperatureHistogram .chart-alternative-row-fill {
    -fx-fill: midtone-darker;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
 }

.bedTemps.chart-series-line {
    -fx-stroke: #000080;
    -fx-stroke-type: centered;
}

.extruderTemps.chart-series-line {
    -fx-stroke: #ff0000;
    -fx-stroke-type: centered;
}

.printerStatus.label {
    -fx-label-padding: 2 10 2 10;
    -fx-background-radius: 5;
    -fx-text-fill: text;
    -fx-background-color: midtone;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.menu-icon {
    -fx-padding: 10 10 10 10;
    -fx-background-color: bg1;
}

.menu-icon-selected {
    -fx-background-color: highlight;
}

.menu-icon > .glyph-icon {
    -fx-text-fill: bg2-lighter;
    -fx-fill: bg2-lighter;
    -glyph-size: 35px;
}

.menu-icon-selected > .glyph-icon {
    -fx-text-fill: bg1-lighter;
    -fx-fill: bg1-lighter;
    -glyph-size: 35px;
}

.menu-icon.glyph-icon:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 4, 0, 0, 0);
}

.machine-name {
    -fx-text-fill: highlight-lighter;
    -fx-font-size: 20;
}

.menu {
    -fx-border-color: bg1-lighter;
    -fx-border-width: 0 0 1 0;
}

.emergency-button > .glyph-icon {
    -glyph-size: 20px;
    -fx-fill: text;
}

.on-off-button {
    -fx-padding: 10 20 10 20;
}

.on-off-button.success, .extrude-retract.normal, .baby-stepping.left {
    -fx-background-radius: 4 0 0 4;
    -fx-border-radius: 4 0 0 4;
}

.on-off-button.danger, .extrude-retract.primary, .baby-stepping.right {
    -fx-background-radius: 0 4 4 0;
    -fx-border-radius: 0 4 4 0;
}

.small.button, .small > .label {
    -fx-max-height: 10;
    -fx-font-size: 10;
}

.small-pane {
    -fx-padding: 0 0 0 0;
}

.titled-pane > .title {
    -fx-pref-height: 25.0;
}

.extrude-retract {
    -fx-pref-width: 110;
}

.button > .glyph-icon,
.normal > .glyph-icon {
    -fx-text-fill: text-darker;
    -fx-fill: text-darker;
}

.primary > .glyph-icon {
    -fx-text-fill: text;
    -fx-fill: text;
}

.large-icon > .glyph-icon {
    -glyph-size: 30px;
    -fx-fill: text;
}

.small-button.button {
    -fx-padding: 2 2 2 2;
}

.bold.label {
    -fx-font-weight: bolder;
    -fx-text-fill: highlight;
    -fx-font-size: 15;
}

.red.label {
    -fx-text-fill: red;
}

.green.label {
    -fx-text-fill: green;
}

.blue.label {
    -fx-text-fill: blue;
}

.data-grid Line {
    -fx-stroke: midtone;
}

.button {
    -fx-padding: 8 15 8 15;
}

.button, .label {
    -fx-font-family: 'sans-serif';
    -fx-font-size: 16;
}

.popupPane {
    -fx-padding: 5 5 5 5;
    -fx-border-color: 'lightgray';
    -fx-background-color: #f4f4f4;
}

.tree-table-view .column-header > .label {
    -fx-font-size: 13;
    -fx-text-fill: #428bca;
}

.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected {
    -fx-background: #daedf6;
    -fx-table-cell-border-color: #d0e3ec;
}

.slider > .thumb {
    -fx-background-color: #428bca;
}

.console-info.list-cell:filled {
    -fx-background-color: linear-gradient(to bottom, #dfefd8, #c8e1bd);
}

.console-info .label {
    -fx-text-fill: #417540;
    -fx-font-size: 14
}


.console-command.list-cell:filled {
    -fx-background-color: linear-gradient(to bottom, #daecf7, #bbdff0);
}

.console-command .label {
    -fx-text-fill: #35718e;
    -fx-font-size: 14
}

